<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        .btn-group {
    margin-bottom: 0.5rem;
}
    </style>
</head>

<body>
    <div class="container text-center">
        <h1>Your password is:</h1>
        <h2 class="alert alert-success">{{ password }}</h2>

        <div class="btn-group">
            <button id="clipboardCopy" class="btn btn-primary btn-block  pb-55"> clipboardCopy </button>
        </div>
        <br>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">Home</a>

    </div>
    <script>
        document.getElementById('clipboardCopy').addEventListener('click', clipboardCopy);
        async function clipboardCopy() {
            let text = "{{password}}"
            await navigator.clipboard.writeText(text);
        }
    </script>
</body>

</html>